$primary-color: #50D9F8;
$text-color-light: #fff;
$text-color-grey: #B1B1B1;
$text-color-dark: #373C44;
$text-color-transparent: rgba(255, 255, 255, 0.7);
$game-background-color: #E8E8F0;
$alternative-color: #FFBC33;
$correct-color: #11D632;
$box-shadow: 0px 3pt 6pt 0px rgba(0, 0, 0, 0.16);
$side-padding: 20px;
$bottom-padding: 32px;
$element-margin: 16px;
$border-radius: 12px;
$profile-max-width: 500px;

%quiz-button {
  color: white;
  font-size: 22px;
  height: 42px;
  width: 330px;
  border-radius: $border-radius;
  text-align: center;
  margin-top: 1rem;
  outline: none;
}

%box-template {
    border-radius: $border-radius;
    height: 42px;
    width: 330px;
    font-size: 24px;
}

%flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

%main-container {
  min-height: 100vh;
  width: 100vw;
  padding: $bottom-padding $side-padding;
}

%force-select {
  -webkit-user-select: all;
  -moz-user-select: all;
  -ms-user-select: all;
  user-select: all;
}

@media only screen and (max-width: 330px) {
  %box-template {
    border-radius: $border-radius;
    height: 42px;
    width: 95%;
    font-size: 24px;
  }

  %quiz-button {
    color: white;
    font-size: 22px;
    height: 42px;
    width: 95%;
    border-radius: $border-radius;
    text-align: center;
    margin-top: 1rem;
    outline: none;
  }
}

// @media only screen and (min-width: 330px) {
//   %box-template {
//     border-radius: $border-radius;
//     height: 42px;
//     width: 330px;
//     font-size: 24px;
//   }
// }