<template>
  <div class="background">
    <div class="input-question-info">Input your question:</div>
    <textarea class="input-field" type="text" id="question" name="question"
           placeholder="Ex. What is the capital of France?" v-model="question"/>
    <div class="choose-type-info">{{promptMsg}}</div>
    <v-expand-transition>
      <div v-if="!questionSelected" class="question-buttons">
        <button @click="selectQuestionType('basic')" class="type-button">Basic Question</button>
        <button @click="selectQuestionType('drag')" class="type-button">Drag Question</button>
        <button @click="selectQuestionType('open')" class="type-button">Open Question</button>
      </div>
    </v-expand-transition>
    <v-expand-transition>
      <CreateBasicQuestion v-if="questionSelected && questionType === 'basic'" v-on:question-added="questionAdded"/>
      <CreateDragQuestion v-if="questionSelected && questionType === 'drag'" v-on:question-added="questionAdded"/>
      <CreateOpenQuestion v-if="questionSelected && questionType === 'open'" v-on:question-added="questionAdded"/>
    </v-expand-transition>
    <button v-if="questions.length > 0 && !questionSelected" class="red-quiz-button" type="button" @click="addQuiz">Add your quiz</button>
    <v-alert type="error" v-if="error">An error occurred while creating your quiz. Please try again.</v-alert>
  </div>
</template>

<script>
import CreateBasicQuestion from '../components/CreateBasicQuestion.vue';
import CreateDragQuestion from '../components/CreateDragQuestion';
import CreateOpenQuestion from '../components/CreateOpenQuestion';
import QuizService from '../services/quiz.service.js';

export default {
  name: 'CreateQuestion',
  components: {
    CreateBasicQuestion,
    CreateDragQuestion,
    CreateOpenQuestion
  },
  data: () => ({
    questions: [],
    questionType: '',
    questionSelected: false,
    promptMsg: 'Choose question type:',
    question: '',
    error: false
  }),
  methods: {
    selectQuestionType(type) {
      this.questionType = type;
      this.questionSelected = true;
      if (this.questionType === 'drag') {
        this.promptMsg = 'Type in your desired answers and put them in the correct order:';
      }
      else if (this.questionType === 'basic') {
        this.promptMsg = 'Type in your desired answers and click on the correct one:';
      }
      else {
        this.promptMsg = 'Type in your desired answer:'
      }
    },
    questionAdded(answers) {
      this.questionSelected = false;
      this.questionType = '';
      answers.question = this.question;
      this.questions.push(answers);
      this.question = '';
    },
    addQuiz() {
      const quizId = sessionStorage.getItem('newQuiz');
      if (quizId) {
        QuizService.addQuizQuestions(quizId, this.questions).then(() =>{
          sessionStorage.removeItem('newQuiz');
          this.$router.push('profile');
        }).catch((error) =>{
          this.error = true;
          console.log(error);
        });
      }
      else {
        error = true;
        return;
      }
    }
  }
};
</script>

<style scoped lang="scss">
@use '../styles/variables';
.background {
  @extend %flex-column-center;
  @extend %main-container;
  background-color: variables.$game-background-color;
  .input-question-info {
    color: variables.$text-color-dark;
    font-weight: 700;
    font-size: 1.7rem;
    text-align: center;
    margin-bottom: variables.$element-margin;
  }
  .input-field {
    height: 165px;
    margin-bottom: variables.$element-margin;
    padding: 1rem;
    resize: none;
  }
  .choose-type-info {
    color: variables.$text-color-dark;
    font-weight: 700;
    font-size: 1.7rem;
    text-align: center;
    margin-bottom: variables.$element-margin*2;
  }
  .question-buttons {
    @extend %flex-column-center;
    width: 100%;
    .type-button {
      @extend %quiz-button;
      background-color: variables.$primary-color;
      height: 70px;
      margin-bottom: variables.$element-margin/2;
    }
  }
  .red-quiz-button {
    @extend %quiz-button;
    background-color: #E84E4E;
  }
}

</style>
