<template>
  <div class="background">
    <label class="quiz-label">Input your quiz name</label>
    <input class="input-field" id="quiz-name" name="quiz-name" placeholder="My first quiz"
           v-model="quizName">
    <label class="quiz-label">Choose a category:</label>
    <div class="dropdown-container">
    <v-select
      :items="categories"
      item-text="name"
      item-value="id"
      label="Category"
      @input="setSelected"
      dense
      solo
      class="category-selection"
    ></v-select>
    </div>
    <button class="blue-button" id="next" name="next" @click="makeQuiz">Next</button>
    <div class="hint-box">
      <label class="hint-label">Hint</label>
      <label class="hint-description">Choose between 3 types of questions:</label>
      <label class="question-type-name">Basic Question</label>
      <div class="question-type-info">
        <img src="../assets/icons/choice.svg">
        <label class="question-type-description">Choose between visible answers.</label>
      </div>
      <label class="question-type-name">Drag Question</label>
      <div class="question-type-info">
        <img src="../assets/icons/hand.svg">
        <label class="question-type-description">Arrange answers in correct order.</label>
      </div>
      <label class="question-type-name">Open Question</label>
      <div class="question-type-info">
        <img src="../assets/icons/input.svg">
        <label class="question-type-description">Type the correct answer.</label>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
import QuizService from '../services/quiz.service.js';

export default {
  name: 'CreateQuiz',
  beforeCreate() {
    axios.get(`${process.env.VUE_APP_API_URL}/api/categories`)
      .then(response => this.categories = response.data)
  },
  data: () => ({
    quizName: "",
    categories: [],
    selectionId: null
  }),
  methods: {
    setSelected(value) {
      this.selectionId = value;
    },
    makeQuiz() {
      QuizService.createNew(this.quizName, "",this.selectionId)
      .then(
        result => {
          const quizId = result.data.id;
          sessionStorage.setItem('newQuiz', quizId);
          this.$router.push('create-question');
        }).catch((error) => {
        console.log(error);
      });
    }
  }
};
</script>

<style scoped lang="scss">
@use '../styles/variables';
.background {
  @extend %flex-column-center;
  @extend %main-container;
  background-color: variables.$game-background-color;
  .quiz-label {
    color: variables.$text-color-dark;
    font-weight: 700;
    font-size: 1.7rem;
    text-align: center;
    margin-bottom: variables.$element-margin;
  }
  .dropdown-container {
    height: 60px;
      .category-selection {
        width: 330px;
        border-radius: variables.$border-radius;
      }
  }
  .input-field {
    margin-bottom: variables.$element-margin;
  }
  .blue-button {
    @extend %quiz-button;
    background-color: variables.$primary-color;
    margin-bottom: variables.$element-margin*2;
  }
  .hint-box {
    @extend %box-template;
    @extend %flex-column-center;
    box-shadow: variables.$box-shadow;
    height: 22rem;
    background-color: variables.$alternative-color;
    .hint-label {
      color: variables.$text-color-light;
      font-weight: 700;
      font-size: 1.6rem;
      text-align: center;
    }
    .hint-description {
      color: variables.$text-color-transparent;
      font-weight: 700;
      font-size: 1rem;
      text-align: center;
      width: 10rem;
      margin-bottom: variables.$element-margin/2;
    }
    .question-type-name {
      color: variables.$text-color-light;
      font-weight: 700;
      font-size: 1.4rem;
      text-align: center;
    }
    .question-type-info {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      .question-type-description {
        color: variables.$text-color-transparent;
        font-weight: 700;
        font-size: 1rem;
        text-align: center;
        width: 10rem;
      }
    }
  }

  @media only screen and (max-width: 330px) {
    .dropdown-container {
      height: 60px;
      width: 95%;
      .category-selection {
        width: 100%;
        border-radius: variables.$border-radius;
      }
    }
  }
}
</style>
