<template>
    <div class="background">
        <div class="top-icon-bar">
            <div class="top-bar-icons">
                <div class="timer">{{questionTimer}}</div>
                <img src="../assets/icons/close.svg">
            </div>
        </div>
        <div class="label-question" v-if="!finished">
          {{currentQuestion.question}}
        </div>
        <ShowBasicQuestion
        v-if="!finished && currentQuestion.type === 'basic'"
        @finished="analyzeAnswer"
        :question="currentQuestion.answers"/>
        <ShowDragQuestion
        v-if="!finished && currentQuestion.type === 'drag'"
        @finished="analyzeAnswer"
        :answers="currentQuestion.answers"/>
        <ShowOpenQuestion
        v-if="!finished && currentQuestion.type === 'open'"
        @finished="analyzeAnswer"
        :answer="currentQuestion.answers"/>
        <div class="begin-button" v-if="!finished"  @click="nextQuestion">
            Next question
            <img src="../assets/icons/arrow-icon.svg" class="btn-icon" >
        </div>
        <div class="label-wait" v-if="finished">
            Wait for the others. Soon you will be redirected to the summary.
        </div>
    </div>
</template>
<script>
import ShowBasicQuestion from '../components/ShowBasicQuestion.vue';
import ShowDragQuestion from '../components/ShowDragQuestion.vue';
import ShowOpenQuestion from '../components/ShowOpenQuestion.vue';
import QuizService from '../services/quiz.service.js';
import GameService from '../services/game.service.js';
import AdjustingInterval from '../services/timer.js';

export default {
    components: {
        ShowBasicQuestion,
        ShowDragQuestion,
        ShowOpenQuestion
    },
    async beforeMount() {
        let quiz = null;
        this.quizId = this.$route.params.quizId;
        this.roomId = this.$route.params.roomId;
        try {
            quiz = await QuizService.getQuiz(this.quizId);
        } catch (error) {
            console.log(error);
        }
        this.questions = quiz.data;
        this.currentQuestion = this.questions[0];
        this.lastQuestion = this.questions[0];
    },
    mounted() {
        GameService.socket.on('finishGame', (scores) => {
            const score = scores.find(el => el.userLogin === this.$store.state.accountStore.userIdentity.login);
            let place = scores.indexOf(score) + 1;
            let pct = ((100*score.score)/this.questions.length).toString();
            if(this.$route.path !== '/summary') {
              this.$router.push({name: 'Summary', params: {place: place, pct: pct, quizId: this.quizId.toString()}});
            }
        });
        let ticker = new AdjustingInterval(this.startTimer, 1000, this.doError);
        ticker.start();
    },
    beforeCreate() {
      if(!this.$store.state.accountStore.userIdentity) {
          LoginService.retrieveAccount();
      }
    },
    data: () => ({
        questions: [],
        currentQuestionIndex: 0,
        currentQuestion: {},
        lastQuestion: {},
        questionTimer: 30,
        quizId: 1001,
        score: 0,
        finished: false,
        roomId: '',
    }),
    props: {

    },
    methods: {
        nextQuestion() {
            if (this.questions.length === this.currentQuestionIndex + 1) {
                this.questionTimer = 0;
                this.finished = true;
                setTimeout(() => {
                        GameService.finishGame(this.roomId, this.$store.state.accountStore.userIdentity.login, this.score);
                    }, 500);
                return;
            }
            this.currentQuestionIndex++;
            this.currentQuestion = this.questions[this.currentQuestionIndex];
            this.questionTimer = 30;
        },
        analyzeAnswer(answer) {
            if (this.lastQuestion.type === 'drag'){
                let order = '';
                for (let i = 0; i < answer.length; i++) {
                    order += answer[i].id;
                }
                if (order === this.lastQuestion.answers.correctOrder) {
                    this.score += 1;
                }
            }
            else {
                if (answer === this.lastQuestion.answers.correct){
                    this.score += 1;
                }
            }
            this.lastQuestion = this.questions[this.currentQuestionIndex];
        },
        startTimer() {
          if (this.questionTimer > 0) {
            this.questionTimer--;
          } else {
            this.nextQuestion();
          }
        },
        doError() {
          console.warn('The drift exceeded the interval.');
        },
      }
}
</script>
<style lang="scss" scoped>
@use '../styles/variables';
@use '../styles/mixins';
.background {
  @extend %flex-column-center;
  @extend %main-container;
  background-color: variables.$game-background-color;

  .begin-button {
        @extend %quiz-button;
        @extend %flex-column-center;
        font-weight: 700;
        font-size: 1.5rem;
        background-color: variables.$primary-color;
        position: relative;

        .btn-icon {
            right: 10px;
            top: 22%;
            position: absolute;
        }
    }
  .label-question{
    @include mixins.format-text(1.4rem, 500, variables.$text-color-dark);
    align-items: center;
    text-align: center;
    color: variables.$text-color-dark;
  }
    .top-icon-bar {
        position: fixed;
        top: 20px;
        padding: 0 20px;
        width: 100%;
        margin-bottom: 1rem;
        display: flex;
        justify-content: center;

        .top-bar-icons {
            width: 100%;
            max-width: 1080px;
            display: flex;
            justify-content: space-between;
            .timer {
                font-size: 1.2rem;
            }
        }
    }
    .label-wait{
      @include mixins.format-text(1.4rem, 600, variables.$text-color-dark);
      align-items: center;
      text-align: center;
      color: variables.$text-color-dark;
    }
}
</style>
