<template>
  <div class="background">
    <div class="game-info">
      Please enter the game code:
    </div>
    <input class="input-field" v-model="roomId"/>
    <button class="blue-quiz-button" type="button" @click="joinRoom">Join the room!</button>
    <v-alert type="error" v-if="joinError">Incorrect game code!</v-alert>
  </div>
</template>

<script>
import GameService from '../services/game.service.js';
import LoginService from '../services/login.service';
export default {
  name: 'JoinGame',
  data: () => ({
    roomId: '',
    joinError: false
  }),
  async beforeCreate() {
    if(!this.$store.state.accountStore.userIdentity) {
      await LoginService.retrieveAccount();
    }
  },
  mounted() {
    GameService.socket.on('joinError', () => {
      this.joinError = true;
    });
    GameService.socket.on('joinSuccessful', (players) => {
      this.navigateToLobby(players);
    });
  },
  methods: {
    joinRoom() {
      GameService.joinRoom(this.roomId, this.$store.state.accountStore.userIdentity.firstName);
    },
    navigateToLobby(players) {
      this.$router.push({name: 'Lobby', params: {isHost: false, players: players, roomId: this.roomId}});
    }
  }
};
</script>

<style scoped lang="scss">
@use '../styles/variables';

.background {
  @extend %flex-column-center;
  @extend %main-container;
  background-color: variables.$game-background-color;

  .game-info {
    color: variables.$text-color-dark;
    font-weight: 700;
    font-size: 1.7rem;
    text-align: center;
    margin-bottom: variables.$element-margin/2;
  }
  .input-field {
    font-weight: 700;
    text-align: center;
    font-size: 1.5rem;
    height: 56px;
    padding: 1rem;
    resize: none;
  }
  .blue-quiz-button {
    @extend %quiz-button;
    margin: variables.$element-margin 0;
    background-color: variables.$primary-color;
  }
}
</style>
