<template>
  <div class="background">
    <div class="game-info">
      <span v-if="isHost">This is your quiz code. Share it with your friends to play with them!</span>
      <span v-if="!isHost">You are joining your friend's game. Please wait for the host to begin.</span>
    </div>
    <div class="game-code" v-if="gameCode">{{ gameCode }}</div>
    <div class="players-list">
      <div class="player-label">Active players:</div>
      <v-virtual-scroll
      :items="players"
      :item-height="30"
      height="120">
        <template v-slot:default="{ item }">
          <v-list-item :key="item">
            <v-list-item-content>
              <v-list-item-title>
                {{ item }}
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </template>

      </v-virtual-scroll>
    </div>
    <button class="red-quiz-button" type="button" @click="leaveLobby">Take me out of here...</button>
    <button v-if="isHost" class="blue-quiz-button" type="button" @click="beginGame">We are ready!</button>
  </div>

</template>

<script>
import GameService from '../services/game.service.js';
import LoginService from '../services/login.service';
export default {
  name: 'Lobby',
  data: () => ({
    username: "",
    players: [],
    messages: [],
    gameCode: "",
    users: [],
    isHost: true,
    quizId: null,
  }),
  async mounted() {
    if(!this.$store.state.accountStore.userIdentity) {
      await LoginService.retrieveAccount();
    }
    if (!this.$route.params.isHost && typeof this.$route.params.isHost !== 'undefined') {
      this.players = this.$route.params.players;
      this.gameCode = this.$route.params.roomId;
      this.isHost = false;
    }
    else {
      this.quizId = this.$route.params.quizId;
      GameService.newRoom(this.$store.state.accountStore.userIdentity.firstName);
    }
    GameService.socket.on('newRoomId', (roomId, players) => {
      this.gameCode = roomId;
      this.players = players;
    });
    GameService.socket.on('newUserJoined', (players) => {
       if (players) {
        this.players = players;
      }
    });
    GameService.socket.on('userLeft', (players) => {
      if (players) {
        this.players = players;
      }
    });
    GameService.socket.on('hostDisconnected', () => {
      GameService.userLeft();
      this.$router.push('profile');
    });
    GameService.socket.on('beginGame', (quizId) => {
      console.log(quizId)
      if(this.$route.path !== '/game') {
        this.$router.push({name: 'Game', params: {quizId: quizId, roomId: this.gameCode}});
      }
    });
  },
  methods: {
    leaveLobby() {
      if (this.isHost) {
        GameService.hostDisconnected(this.gameCode);
      }
      GameService.userLeft();
      this.$router.push('profile');
    },
    beginGame() {
      GameService.beginGame(this.gameCode, this.quizId);
    }
  }
};
</script>

<style scoped lang="scss">
@use '../styles/variables';

.background {
  @extend %flex-column-center;
  @extend %main-container;
  background-color: variables.$game-background-color;

  .game-info {
    color: variables.$text-color-dark;
    font-weight: 700;
    font-size: 1.7rem;
    text-align: center;
    margin-bottom: variables.$element-margin/2;
  }
  .game-code {
    @extend %force-select;
    background-color: variables.$text-color-light;
    box-shadow: variables.$box-shadow;
    margin-bottom: variables.$element-margin;
    font-weight: 700;
    border-radius: 12px;
    outline: none;
    padding: 14px 100px;
    text-align: center;
    font-size: 1.5rem;
  }
  .players-list {
    text-align: center;
    height: 200px;
    width: 100%;
    font-weight: 700;
    .player-label {
      color: variables.$text-color-dark;
      font-size: 1.5rem;
      margin: variables.$element-margin/2 0;
    }
  }

  .red-quiz-button {
    @extend %quiz-button;
    background-color: #E84E4E;
  }
  .blue-quiz-button {
    @extend %quiz-button;
    background-color: variables.$primary-color;
  }
}

</style>
