<template>
    <div v-if="this.$store.state.accountStore.userIdentity">
        <div class="top-bar">
            <div class="top-bar-icons">
                <div class="top-scores">
                    <img src="../assets/icons/star.svg"><span>{{this.$store.state.accountStore.userIdentity.wins}}</span>
                </div>
                <img src="../assets/icons/logout.svg" class="logout" @click="doLogout">
            </div>
        </div>
        <div class="background">
            <div class="user-profile">
                <img v-if="!this.$store.state.accountStore.userIdentity.imageUrl" src="../assets/icons/avatar.svg">
                <img class="google-img" v-if="this.$store.state.accountStore.userIdentity.imageUrl" :src="this.$store.state.accountStore.userIdentity.imageUrl">
                <div class="username" >
                    {{this.$store.state.accountStore.userIdentity.firstName}} {{this.$store.state.accountStore.userIdentity.lastName}}
                </div>
                <div class="exp">
                    {{this.$store.state.accountStore.userIdentity.exp}} XP
                </div>
            </div>

            <v-tabs class="profile-tabs" fixed-tabs color="#50D9F8" v-model="currentTab">
                <v-tab class="tab-item" v-for="tab in tabs" :key="tab">{{tab}}</v-tab>
            </v-tabs>
            <v-expand-transition>
                <div v-if="currentTab === 0" class="tab-content">
                    <div class="scroll-container">
                        <TestCard
                        v-for="quiz in quizzes"
                        :key="quiz.id"
                        :title="quiz.title"
                        :description="quiz.category.description"
                        :categoryId="quiz.category.id"
                        :quizId="quiz.id"/>
                    </div>
                    <button class="red-quiz-button" type="button" @click="$router.push('create-quiz')">Add a test</button>
                </div>
            </v-expand-transition>
            <v-expand-transition>
                <div v-if="currentTab === 1" class="tab-content">
                    <div class="scroll-container">
                        <div v-for="score in scores" :key="score.id" class="score-box">
                            #{{score.place}} place <span class="date">{{score.date.split('T')[0]}}</span>
                        </div>
                    </div>
                    <button class="yellow-quiz-button" type="button" @click="joinGame">Join a game</button>
                </div>
            </v-expand-transition>
            <div v-if="currentTab === 2" class="tab-content">
              <div class="scroll-container">
                <TestCard
                  v-for="quiz in allQuizzes"
                  :key="quiz.id"
                  :title="quiz.title"
                  :description="quiz.category.description"
                  :categoryId="quiz.category.id"
                  :quizId="quiz.id"/>
              </div>
            </div>
        </div>
    </div>
</template>
<script>
import TestCard from '../components/TestCard.vue';
import LoginService from '../services/login.service.js';
import QuizService from '../services/quiz.service.js';

export default {
  name: 'Profile',
  components: {
    TestCard,
  },
  beforeCreate() {
      if(!this.$store.state.accountStore.userIdentity) {
          LoginService.retrieveAccount();
      }
  },
  data: () => ({
      currentTab: null,
      userData: null,
      tabs: ['My tests', 'My games', 'All tests'],
      scores: [],
      quizzes: [],
      allQuizzes: []
  }),
  async mounted() {
      const res = await QuizService.getUserQuizzes();
      this.quizzes = res.data;
      const allResult = await QuizService.getAllQuizzes();
      this.allQuizzes = allResult.data;
      const scoresResult = await QuizService.getUserScores();
      this.scores = scoresResult.data;
  },
  methods: {
    doLogout() {
        sessionStorage.removeItem('token');
        this.$store.commit('logout');
        this.$router.push({path: '/'});
    },
    joinGame() {
      this.$router.push({path: '/join-game'});
    }
  }
};
</script>
<style scoped lang="scss">
    @use '../styles/variables';
    @use '../styles/mixins';

    .top-bar {
        width: 100%;
        border-bottom: 1px solid #CECECE;
        position: fixed;
        top: 0;
        height: 48px;
        padding: 0 variables.$side-padding;
        background-color: #fff;
        z-index: 2;

        .top-bar-icons {
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: 1080px;
            height: 100%;
            .top-scores {
                display: flex;
                justify-content: center;
                span {
                    padding-left: 2px;
                    transform: translateY(2px);
                }
            }
            .logout {
                cursor: pointer;
            }
        }
    }

    .background {
        @extend %main-container;

        .user-profile {
            @extend %flex-column-center;
            margin-top: 2*variables.$element-margin;
            margin-bottom: 2*variables.$element-margin;
            .username {
                font-size: 2.5rem;
                font-weight: 700;
                text-align: center;
            }
            .exp {
                font-size: 1.5rem;
                font-weight: 300;
            }
            img {
                width: 98px;
                height: 98px;
            }
            .google-img {
                border-radius: 50%;
            }
        }
        .profile-tabs {
            margin: 0 auto;
            max-width: 900px;
            box-shadow: variables.$box-shadow;
            border-radius: variables.$border-radius;

            .tab-item {
                text-transform: none !important;
                font-size: 0.9rem;
                font-weight: 700;
                color: variables.$text-color-dark !important;
            }
            .v-tab--active {
                color: variables.$primary-color !important;
            }
        }
        .tab-content {
            @extend %flex-column-center;
            margin-top: variables.$element-margin;
        }
        .score-box {
            border-radius: variables.$border-radius;
            box-shadow: variables.$box-shadow;
            margin: 8px auto;
            padding: 10px;
            height: 50px;
            width: 95%;
            max-width: variables.$profile-max-width;
            @include mixins.format-text(1.4rem, 700, variables.$text-color-dark);
            display: flex;
            align-items: center;
            justify-content: space-between;

            .date {
                float: right;
                @include mixins.format-text(1rem, 500, variables.$text-color-grey);
            }
        }
        .red-quiz-button {
            @extend %quiz-button;
            background-color: #E84E4E;
        }
        .yellow-quiz-button {
            @extend %quiz-button;
            background-color: variables.$alternative-color;
        }

        @media only screen and (max-width: 600px) {
            .scroll-container {
                height: 365px;
                width: 100%;
                overflow-y: auto;
            }
        }

        @media only screen and (min-width: 600px) {
            .scroll-container {
                height: 70vh;
                width: 100%;
                overflow-y: auto;
            }
        }
    }
</style>
