<template>
  <div class="background">
    <img src="../assets/icons/gold.png" v-if="place === 1">
    <img src="../assets/icons/silver.png" v-else-if="place === 2">
    <img src="../assets/icons/bronze.png" v-else-if="place === 3">
    <v-progress-circular
      :rotate="-90"
      :size="180"
      :width="10"
      :value="pct"
      color="#7ED8F1"
    >
      {{ pct }}%
    </v-progress-circular>
    <div class="xp-box">+{{ xp }}XP</div>
    <div class="label-well-done">Well done!</div>
    <div class="place-box">You finished in {{ place }}<span v-if="place === 1">st</span><span v-else-if="place === 2">nd</span><span v-else-if="place === 3">rd</span><span v-else>th</span> place!</div>
    <button class="blue-quiz-button" @click="leave">Finish</button>
  </div>
</template>

<script>
import GameService from '../services/game.service.js';
import QuizService from '../services/quiz.service.js';
export default {
  name: 'Summary',
  data: () => ({
    pct: null,
    place: null,
    xp: 5,
  }),
  async beforeMount() {
    this.pct = this.$route.params.pct.split('.')[0];
    this.place = parseInt(this.$route.params.place);
    let quizId = parseInt(this.$route.params.quizId);
    await QuizService.saveQuizScore(this.place, quizId)
  },
  methods: {
    leave() {
      GameService.userLeft();
      this.$router.push('profile')
    }
  }
};
</script>

<style scoped lang="scss">
@use '../styles/variables';
@use '../styles/mixins';
  .background{
    @extend %main-container;
    @extend %flex-column-center;
    background-color: variables.$game-background-color;
    .v-progress-circular {
      margin-top: 1rem;
      font-size: 30px;
    }
    .xp-box{
      background-color: variables.$text-color-light;
      border-radius: variables.$border-radius;
      box-shadow: variables.$box-shadow;
      margin: 8px auto;
      padding: 10px;
      height: 50px;
      width: 40%;
      max-width: variables.$profile-max-width;
      @include mixins.format-text(1.4rem, 700, variables.$text-color-dark);
      align-items: center;
      text-align: center;
      color: variables.$primary-color;
    }
    .label-well-done{
      @include mixins.format-text(1.4rem, 600, variables.$text-color-dark);
      align-items: center;
      text-align: center;
      color: variables.$text-color-dark;
    }
    .place-box{
      background-color: variables.$text-color-light;
      border-radius: variables.$border-radius;
      box-shadow: variables.$box-shadow;
      padding: 10px;
      height: 50px;
      width: 90%;
      max-width: variables.$profile-max-width;
      @include mixins.format-text(1.4rem, 400, variables.$text-color-dark);
      align-items: center;
      text-align: center;
      margin-top: 2rem;
      color: variables.$primary-color;
    }
    .blue-quiz-button {
      @extend %quiz-button;
      margin-top: 4rem;
      background-color: variables.$primary-color;
    }
  }
</style>
