<template>
    <div>
        <draggable
            :list="answers"
            :disabled="!enabled"
            class="draggable"
            ghost-class="ghost"
            @start="dragging = true"
            @end="dragging = false">
            <div class="drag-field" v-for="answer in answers" :key="answer.id">
                <input type="text" class="drag-input" v-model="answer.name" maxlength="30" :placeholder="'Answer ' + parseInt(answer.id+1)">
            </div>
        </draggable>
        <button class="add-question-button" type="button" @click="addNewQuestion">Add a question</button>
        <v-alert type="error" v-if="error">Please provide the answers!</v-alert>
    </div>
</template>
<script>
import draggable from 'vuedraggable';
export default {
    components: {
        draggable
    },
    data() {
        return {
            enabled: true,
            answers: [
                { name: "", id: 0 },
                { name: "", id: 1 },
                { name: "", id: 2 },
                { name: "", id: 3 }
            ],
            dragging: false,
            error: false
        };
    },
    methods: {
        addNewQuestion() {
            if (!this.answers.every(elem => elem.name !== "")) {
                this.error = true;
                return;
            }
            let res = {type: 'drag', question: '', answerOne: '', answerTwo: '', answerThree: '', answerFour: ''};
            for (let i = 0; i < this.answers.length; i++) {
                switch(i) {
                    case 0:
                        res.answerOne = this.answers[i].name;
                        break;
                    case 1:
                        res.answerTwo = this.answers[i].name;
                        break;
                    case 2:
                        res.answerThree = this.answers[i].name;
                        break;
                    case 3:
                        res.answerFour = this.answers[i].name;
                        break;
                }
            }
            this.$emit('question-added', res);
        },
    }
}
</script>
<style lang="scss" scoped>
@use '../styles/variables';
    .drag-field {
        @extend %box-template;
        background-color: #fff;
        height: 55px;
        box-shadow: variables.$box-shadow;
        margin: variables.$element-margin 0;

        .drag-input {
            outline: none;
            width: 100%;
            height: 100%;
            text-align: center;
            font-size: 1.2rem;
        }
    }
    .ghost {
        background-color: rgb(247, 243, 243);
    }
</style>