<template>
    <div class="basic-question">
        <div class="answer-grid">
            <div class="answer" v-bind:class="{correct: question.correct === 0}">
                <textarea 
                v-model="question.answerOne" 
                type="text" 
                class="answer-input" 
                maxlength="30" 
                placeholder="Answer 1"
                @click=" setCorrect(0)"
                />
            </div>
            <div class="answer" v-bind:class="{correct: question.correct === 1}">
                <textarea 
                v-model="question.answerTwo" 
                type="text" 
                class="answer-input" 
                maxlength="30" 
                placeholder="Answer 2"
                @click=" setCorrect(1)"
                />
            </div>
            <div class="answer" v-bind:class="{correct: question.correct === 2}">
                <textarea 
                v-model="question.answerThree" 
                type="text" 
                class="answer-input" 
                maxlength="30" 
                placeholder="Answer 3"
                @click="setCorrect(2)"
                />
            </div>
            <div class="answer" v-bind:class="{correct: question.correct === 3}">
                <textarea 
                v-model="question.answerFour" 
                type="text" 
                class="answer-input" 
                maxlength="30" 
                placeholder="Answer 4"
                @click=" setCorrect(3)"
                />
            </div>
        </div>
        <button class="add-question-button" type="button" @click="addNewQuestion">Add a question</button>
        <v-alert type="error" v-if="error">Please select a correct answer!</v-alert>
    </div>
</template>
<script>
export default {
    data: () => ({
        question: {
            type: 'basic',
            answerOne: '',
            answerTwo: '',
            answerThree: '',
            answerFour: '',
            correct: -1
        },
        error: false
    }),
    methods: {
        addNewQuestion() {
            if (this.question.correct === -1) {
                this.error = true;
                return;
            }
            this.$emit('question-added', this.question);
        },
        setCorrect(correct) {
            this.question.correct = correct;
        }
    }
}
</script>
<style lang="scss" scoped>
    @use '../styles/variables';
    .answer-grid {
        display: grid;
        grid-column-gap: variables.$element-margin/2;
        grid-template-columns: repeat(2, 1fr);
        height: 340px;
        width: 100%;
        align-items: center;

        .answer {
            width: 160px;
            height: 160px;
            border-radius: variables.$border-radius;
            box-shadow: variables.$box-shadow;
            background-color: #fff;
            .answer-input {
                outline: none;
                width: 100%;
                height: 100%;
                text-align: center;
                font-size: 1.4rem;
                resize: none;
                padding: 8px;
            }
        }
    }
    .correct {
        border: 2px solid variables.$correct-color;
    }

</style>