<template>
    <div class="open-container">
        <div class="ans-field">
            <input type="text" class="ans-input" v-model="answer.answerOne" maxlength="30" :placeholder="'Your answer'">
        </div>
        <button class="add-question-button" type="button" @click="addNewQuestion">Add a question</button>
    </div>
</template>
<script>
export default {
    data() {
        return {
            answer: {type: 'open', question: '', answerOne: ''}
        };
    },
    methods: {
        addNewQuestion() {
            this.$emit('question-added', this.answer);
        }
    },
}
</script>
<style lang="scss" scoped>
@use '../styles/variables';
    .ans-field {
        @extend %box-template;
        background-color: #fff;
        height: 55px;
        box-shadow: variables.$box-shadow;
        margin: variables.$element-margin 0;

        .ans-input {
            outline: none;
            width: 100%;
            height: 100%;
            text-align: center;
            font-size: 1.2rem;
        }
    }
</style>