<template>
    <div class="background">
      <div class="quizly">Quizly</div>
      <div class="subtitle">Learn and have fun!</div>
      <form class="login-form">
        <label class="input-label" for="login">Your login</label>
        <input class="input-field" type="text" id="login" name="login"
               placeholder="Login" v-model="loginInput">
        <label class="input-label" for="login">Your password</label>
        <input class="input-field" type="password" id="password" name="password"
               placeholder="Password" v-model="passwordInput">
        <button class="button-login" type="button"  @click="doLogin">Quiz now!</button>
        <button class="button-google" type="button">
          <img src="../assets/google-icon.svg" class="google-icon"/>
          <div class="google-text">
            <a :href="googleRedirectUrl">Sign in with Google</a>
          </div>
        </button>
        <div class="register-label">
          Don't have an account?
          <router-link to="/register">
            <span class="register-button">Sign up!</span>
          </router-link>
        </div>
      </form>
      <v-alert type="error" v-if="error">Incorrect username or password.</v-alert>
    </div>
</template>

<script>
import LoginService from '../services/login.service.js';

export default {
  name: 'Login',
  mounted: function() {
    if (this.$route.query.token) {
      sessionStorage.setItem('token', this.$route.query.token);
      LoginService.retrieveAccount().finally(() => {
                this.$router.push('profile');
              });
    }
  },
  data: () => ({
    loginInput: '',
    passwordInput: '',
    error: false,
    googleRedirectUrl: `${process.env.VUE_APP_API_URL}/oauth2/authorize/google?redirect_uri=http://localhost:9000`
  }),
  methods: {
    doLogin(){
      
      LoginService.login(this.loginInput,this.passwordInput)
        .then(
          result => {
            this.$store.commit('authenticate');
            const token = result.data.id_token;
            if (token) {
              sessionStorage.setItem('token', token);
              LoginService.retrieveAccount().finally(() => {
                this.$router.push('profile');
              });
            }
          }).catch((error) => {
            this.$store.commit('logout');
            console.log(error);
            this.error = true;
      });
    },
  },
};
</script>

<style scoped lang="scss">
  @use '../styles/variables';
  @use '../styles/mixins';

  .background {
    @extend %main-container;
    @extend %flex-column-center;
    background-image: url("../assets/background.svg");
    background-size: cover;
    .quizly {
      @include mixins.format-text(4rem, 500, variables.$text-color-light);
      text-align: center;
    }
    .subtitle {
      @include mixins.format-text(1.5rem, 300, variables.$text-color-light);
      text-align: center;
      margin-bottom: 4rem;
    }
    .login-form {
      @extend %flex-column-center;
      width: 100%;
    }
    .input-label {
      color: variables.$text-color-light;
      font-size: 1.2rem;
    }
    .button-login {
      @extend %box-template;
      color: variables.$text-color-light;
      background-color: variables.$primary-color;
      border-color: variables.$game-background-color;
      border-width: 3px;
      border-style: solid;
      margin-top: 2rem;
      margin-bottom: variables.$element-margin;
      outline: none;
    }
    .button-google {
      @extend %box-template;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      background-color: variables.$text-color-light;
      border-color: variables.$game-background-color;
      border-width: 3px;
      border-style: solid;
      margin-bottom: 1.5*variables.$element-margin;
      text-align: center;
      .google-icon {
        padding-right: 0.5rem;
      }
      .google-text {
        color: variables.$text-color-dark;

        a {
          text-decoration: none;
          color: variables.$text-color-dark;
        }
      }
    }
    .register-label {
      color: variables.$text-color-light;
      font-size: 20px;
      margin-bottom: 1rem;
    }
    .register-button {
      color: variables.$text-color-dark;
      font-size: 20px;
      margin-bottom: 1rem;
    }
  }

</style>
