<template>
  <div class="background">
    <div class="quizly">Quizly</div>
    <div class="subtitle">Learn and have fun!</div>
    <form class="login-form">
      <label class="input-label" for="login">Login</label>
      <input class="input-field" type="text" id="login" name="login" placeholder="Login"
      v-model="login">
      <label class="input-label" for="first-name">First Name</label>
      <input class="input-field" type="text" id="first-name" name="first-name"
             placeholder="First Name" v-model="firstname">
      <label class="input-label" for="login">Last Name</label>
      <input class="input-field" type="text" id="last-name" name="last-name"
             placeholder="Last Name" v-model="lastname">
      <label class="input-label" for="login">E-mail</label>
      <input class="input-field" type="text" id="email" name="email"
             placeholder="example@quizly.com" v-model="email">
      <label class="input-label" for="login">Password</label>
      <input class="input-field" type="password" id="password" name="password"
             placeholder="Password" v-model="password">
      <button class="button-register" type="button" @click="doRegister">Register</button>
    </form>
    <v-alert type="error" v-if="error">{{ alertmsg }}</v-alert>
  </div>
</template>

<script>
import LoginService from '../services/login.service';

export default {
  name: 'RegisterComponent',
  data: () => ({
    error: false,
    login: '',
    email: '',
    password: '',
    firstname: '',
    lastname: '',
    alertmsg: '',
  }),
  methods: {
    doRegister(){
      LoginService.register(this.login, this.email, this.password, this.firstname, this.lastname)
        .then(
          () => {
            this.$router.push({path: '/'});
          }).catch((error) => {
            this.alertmsg = error.response.data.title;
            console.log(this.alertmsg);
            this.error = true;
      });
    }
  }
};
</script>

<style scoped lang="scss">
  @use '../styles/variables';
  @use '../styles/mixins';

  .background {
    @extend %main-container;
    @extend %flex-column-center;
    background-image: url("../assets/background.svg");
    background-size: cover;
    .quizly {
      @include mixins.format-text(4rem, 500, variables.$text-color-light);
      text-align: center;
    }
    .subtitle {
      @include mixins.format-text(1.5rem, 300, variables.$text-color-light);
      text-align: center;
      margin-bottom: 4*variables.$element-margin;
    }
    .login-form {
      @extend %flex-column-center;
      width: 100%;
    }
    .input-label {
      color: variables.$text-color-light;
      font-size: 1.2rem;
    }
    .button-register {
      @extend %box-template;
      color: variables.$text-color-light;
      background-color: variables.$primary-color;
      border-color: #E8E8F0;
      border-width: 3px;
      border-style: solid;
      font-size: 1.5rem;
      margin-top: 1.5*variables.$element-margin;;
      outline: none;
      margin-bottom: 1rem;
    }
  }

</style>
