<template>
    <div class="basic-question">
        <div class="answer-grid">
            <div class="answer" v-bind:class="{correct: userChoice === 1}" @click="setUserChoice(1)">
                <div class="answer-field">{{question.answerOne}}</div>
            </div>
            <div class="answer" v-bind:class="{correct: userChoice === 2}" @click="setUserChoice(2)">
                <div class="answer-field">{{question.answerTwo}}</div>
            </div>
            <div class="answer" v-bind:class="{correct: userChoice === 3}" @click="setUserChoice(3)">
                <div class="answer-field">{{question.answerThree}}</div>
            </div>
            <div class="answer" v-bind:class="{correct: userChoice === 4}" @click="setUserChoice(4)">
                <div class="answer-field">{{question.answerFour}}</div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    data: () => ({
        userChoice: -1
    }),
    props: {
        question: Object,
    },
    methods: {
        addNewQuestion() {
            if (this.question.correct === -1) {
                this.error = true;
                return;
            }
            this.$emit('question-added', this.question);
        },
        setUserChoice(choice) {
            this.userChoice = choice;
        }
    },
    beforeDestroy() {
        this.$emit('finished', this.userChoice);
    }
}
</script>
<style lang="scss" scoped>
    @use '../styles/variables';
    .answer-grid {
        display: grid;
        grid-column-gap: variables.$element-margin/2;
        grid-template-columns: repeat(2, 1fr);
        height: 340px;
        width: 100%;
        align-items: center;

        .answer {
            @extend %flex-column-center;
            width: 160px;
            height: 160px;
            border-radius: variables.$border-radius;
            box-shadow: variables.$box-shadow;
            background-color: #fff;
            .answer-field {
                outline: none;
                text-align: center;
                font-size: 1.4rem;
                resize: none;
                padding: 8px;
            }
        }
    }
    .correct {
        border: 2px solid variables.$correct-color;
    }

</style>