<template>
    <div class="open-container">
        <div class="ans-field">
            <input type="text" class="ans-input" v-model="userAnswer" maxlength="30" :placeholder="'Your answer'">
        </div>
    </div>
</template>
<script>
export default {
    props: {
        answer: Object
    },
    data: () => ({
        userAnswer: ''
    }),
    beforeDestroy() {
        this.$emit('finished', this.userAnswer);
    }
}
</script>
<style lang="scss" scoped>
@use '../styles/variables';
    .ans-field {
        @extend %box-template;
        @extend %flex-column-center;
        background-color: #fff;
        height: 55px;
        box-shadow: variables.$box-shadow;
        margin: variables.$element-margin 0;

        .ans-input {
            text-align: center;
            font-size: 1.2rem;
            width: 100%;
            height: 100%;
            outline: none;
        }
    }
</style>