<template>
    <div>
        <draggable
            :list="answersDraggable"
            :disabled="!enabled"
            class="draggable"
            ghost-class="ghost"
            @start="dragging = true"
            @end="dragging = false">
            <div class="drag-field" v-for="answer in answersDraggable" :key="answer.id">
                <div class="drag">{{answer.name}}</div>
            </div>
        </draggable>
    </div>
</template>
<script>
import draggable from 'vuedraggable';
export default {
    components: {
        draggable
    },
    data() {
        return {
            enabled: true,
            dragging: false,
            answersDraggable: []
        };
    },
    props: {
        answers: Object
    },
    methods: {
        
    },
    mounted() {
        this.answersDraggable = [{ name: '', id: 1 },{ name: '', id: 2 },{ name: '', id: 3 },{ name: '', id: 4 }];
        this.answersDraggable[0].name = this.answers.answerOne;
        this.answersDraggable[1].name = this.answers.answerTwo;
        this.answersDraggable[2].name = this.answers.answerThree;
        this.answersDraggable[3].name = this.answers.answerFour;
    },
    beforeDestroy() {
        this.$emit('finished', this.answersDraggable);
    }
}
</script>
<style lang="scss" scoped>
@use '../styles/variables';
    .drag-field {
        @extend %box-template;
        @extend %flex-column-center;
        background-color: #fff;
        height: 65px;
        box-shadow: variables.$box-shadow;
        margin: variables.$element-margin 0;

        .drag {
            text-align: center;
            font-size: 1.2rem;
        }
    }
    .ghost {
        background-color: rgb(247, 243, 243);
    }
</style>