<template>
    <div class="quiz-card">
        <img class="see-more-icon" src="../assets/icons/eye.svg">
        <div class="title-section">
            <img class="quiz-icon" :src="require(`../assets/categories-icons/${categoryId}.svg`)">
            <div class="quiz-title">
                <span class="quiz-id">Quiz {{ quizId }}</span>
                {{title}}
            </div>
        </div>
        <div class="quiz-description">
            {{description}}
        </div>
        <div class="begin-button" @click="openGame">
            Begin
            <img src="../assets/icons/arrow-icon.svg" class="btn-icon">
        </div>
    </div>
</template>
<script>
export default {
    name: 'TestCard',
    props: {
        title: String,
        description: String,
        categoryId: Number,
        quizId: Number
    },
    methods: {
      openGame() {
        this.$router.push({name: 'Lobby', params: {quizId: this.quizId.toString()}});
      }
    }
}
</script>
<style lang="scss" scoped>
@use '../styles/variables';
    .quiz-card {
        width: 95%;
        max-width: variables.$profile-max-width;
        min-height: 240px;
        border-radius: variables.$border-radius;
        box-shadow: variables.$box-shadow;
        padding: 16px;
        position: relative;
        margin: variables.$element-margin auto;

        .see-more-icon {
                position: absolute;
                right: 12px;
                top: 12px;
            }

        .title-section {
            display: flex;
            align-items: center;
            width: 100%;
            position: relative;
            .quiz-icon {
                margin-right: 2*variables.$element-margin;
            }
            .quiz-title {
                height: 50%;
                font-weight: 700;
                font-size: 1.5rem;
                display: flex;
                flex-direction: column;
                .quiz-id {
                    font-size: .9rem;
                    font-weight: 500;
                    color: variables.$text-color-grey;
                }
            }
        }
        .quiz-description {
            width: 100%;
            margin-top: variables.$element-margin;
            font-size: 1.1rem;
            color: variables.$text-color-grey;
            text-align: justify;
            letter-spacing: normal;
            height: 75px;
        }
        .begin-button {
            cursor: pointer;
            font-weight: 700;
            font-size: 1.5rem;
            color: variables.$text-color-light;
            margin-top: variables.$element-margin;
            text-align: center;
            width: 100%;
            background-color: variables.$primary-color;
            border-radius: variables.$border-radius;
            position: relative;

            .btn-icon {
                right: 10px;
                top: 22%;
                position: absolute;
            }
        }
    }

</style>
