<template>
  <v-app>
    <v-main>
      <router-view/>
    </v-main>
  </v-app>
</template>

<script>

export default {
  name: 'App',

  data: () => ({
    //
  }),
};
</script>

<style lang="scss">
@use './styles/variables';
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito',  sans-serif;
  font-size: 1em;
}
.input-field {
  @extend %box-template;
  background-color: variables.$text-color-light;
  margin-bottom: variables.$element-margin;
  box-shadow: variables.$box-shadow;
  outline: none;
  padding-left: 8px;
  font-size: 1rem;
}
.add-question-button {
  @extend %quiz-button;
  background-color: variables.$alternative-color;
  margin-bottom: variables.$element-margin;
  color: #fff !important;
}
html {
  scroll-behavior: smooth;
}
</style>
